<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment me-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary menu ">
            <h2 class="ui teal header item">NextGeneration</h2>
            <a herf="#" class="item"><i class="home icon"></i>首页</a>
            <a herf="#" class="item"><i class="idea icon"></i>分类</a>
            <a herf="#" class="item"><i class="tags icon"></i>标签</a>
            <a herf="#" class="item"><i class="info icon"></i>关于我</a>
            <div class="right item">
                <div class="ui input icon transparent inverted">
                    <input type="text" placeholder="Search....">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--Main-->
<div class="me-padded-tb-massive">
    <div class="ui grid">
        <div class="eleven wide column">
            <div class="ui segment"></div>
        </div>

        <div class="five wide column">

        </div>
    </div>
</div>
<!--尾部-->
<footer class="ui inverted vertical segment aligned me-padded-tb-massive">
<div class="ui container">
    <!--分四个板块/3/3/3/7份-->
    <div class="ui inverted divided grid center aligned ">

        <div class="two wide column">
            <div class="item">
                <img src="../static/images/weChat.png" class="ui rounded image" style="width: 110px">
            </div>
        </div>

        <div class="four wide column inverted header me-text-thin me-text-spaced-mini me-text-opacity-mini">
            <h4 class="ui inverted header">最新博客</h4>
            <div class="ui inverted link list">
                <a   href="#" class="item">用户故事</a>
                <a   href="#" class="item">用户故事</a>
                <a   href="#" class="item">用户故事</a>
            </div>
        </div>

        <div class="four wide column inverted header me-text-thin me-text-spaced-mini me-text-opacity-mini">
            <h4 class="ui inverted header">联系我</h4>
            <div class="ui inverted link list">
                <a   href="#" class="item">邮箱：ingram_13@foxmail.com</a>
                <a   href="#" class="item">QQ:1064630546</a>
            </div>
        </div>

        <div class="six wide column ">
            <h4 class="ui inverted header">NextGeneration</h4>
            <p class="ui inverted me-text-thin me-text-spaced-mini me-text-opacity-mini me-text-line-mini">这是我的个人博客NextGeneration，会用来分享我的学习经验，感受，编程等相关知识，有兴趣的朋友可以常来看看哟~</p>
        </div>
    </div>
    <!--分割线-->
    <div class="ui inverted section divider"></div>
    <p class="inverted header me-text-thin me-text-spaced-mini me-text-opacity-mini  ">Copyright © 2020 Hynu-NextGeneration</p>
</div>

</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
</body>
</html>