<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>类别</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body >
<!--导航-->
<div th:replace="~{commons/commons::topSeg}"></div>

<!--Main-->

<div  class="me-padded-tb-large  me-container-small">
    <div class="ui container">
        <div class="ui top attached segment">
            <div class="ui two column grid stackable">
                <div class="column">
                    <div class="ui item header teal">分类</div>
                </div>
                <div class="column right aligned">
                    <div class="ui item header ">共 <h3 class="ui item orange header  me-display-inline">xx</h3>篇</div>
                </div>
            </div>
        </div>
        <div class="ui teal attached segment  me-margin-b-massive ">
            <div class="ui labeled button me-margin-tiny tags-button"><div class="ui basic blue button "><i class="idea icon"></i> JavaSE/Spring全家桶整合</div><a class="ui basic left pointing blue label">13</a></div>
            <div class="ui labeled button me-margin-tiny tags-button"><div class="ui basic blue button "><i class="idea icon"></i> JavaSE</div><a class="ui basic left pointing blue label">13</a></div>
            <div class="ui labeled button me-margin-tiny tags-button"><div class="ui basic blue button "><i class="idea icon"></i> JavaSE</div><a class="ui basic left pointing blue label">13</a></div>
            <div class="ui labeled button me-margin-tiny tags-button"><div class="ui basic blue button "><i class="idea icon"></i> JavaSE</div><a class="ui basic left pointing blue label">13</a></div>
            <div class="ui labeled button me-margin-tiny tags-button"><div class="ui basic blue button "><i class="idea icon"></i> JavaSE</div><a class="ui basic left pointing blue label">13</a></div>
            <div class="ui labeled button me-margin-tiny tags-button"><div class="ui basic blue button "><i class="idea icon"></i> JavaSE</div><a class="ui basic left pointing blue label">13</a></div>
            <div class="ui labeled button me-margin-tiny tags-button"><div class="ui basic blue button "><i class="idea icon"></i> JavaSE</div><a class="ui basic left pointing blue label">13</a></div>
            <div class="ui labeled button me-margin-tiny tags-button"><div class="ui basic blue button "><i class="idea icon"></i> JavaSE</div><a class="ui basic left pointing blue label">13</a></div>
            <div class="ui labeled button me-margin-tiny tags-button"><div class="ui basic blue button "><i class="idea icon"></i> JavaSE</div><a class="ui basic left pointing blue label">13</a></div>
            <div class="ui labeled button me-margin-tiny tags-button"><div class="ui basic blue button "><i class="idea icon"></i> SE</div><a class="ui basic left pointing blue label">13</a></div>
            <div class="ui labeled button me-margin-tiny tags-button"><div class="ui basic blue button "><i class="idea icon"></i> JavaSE</div><a class="ui basic left pointing blue label">13</a></div>
            <div class="ui labeled button me-margin-tiny tags-button"><div class="ui basic blue button "><i class="idea icon"></i> EE</div><a class="ui basic left pointing blue label">13</a></div>
            <div class="ui labeled button me-margin-tiny tags-button"><div class="ui basic blue button "><i class="idea icon"></i> JavaSE</div><a class="ui basic left pointing blue label">13</a></div>
            <div class="ui labeled button me-margin-tiny tags-button"><div class="ui basic blue button "><i class="idea icon"></i> JavaSE</div><a class="ui basic left pointing blue label">13</a></div>
            <div class="ui labeled button me-margin-tiny tags-button"><div class="ui basic blue button "><i class="idealight icon"></i> JavaSE</div><a class="ui basic left pointing blue label">13</a></div>

        </div>


            <!--content-->
            <div class="ui top teal attached segment  me-padded-tb-large ">
            <div class="ui container">
                <div class="ui basic segment ">
                    <div class="ui stackable mobile reversed grid">
                        <!--文章列-->
                        <div class="eleven wide column">
                            <h3 class="ui header center aligned">来吧难我,来</h3>
                            <p class="me-text-mini me-text-spaced-mini me-text-opacity-mini me-text-thin">藏青色Navy Blue ,藏青色因用于海军(navy)制服而得名，是一种非常深的蓝色，显瘦，适合气质沉稳、低调的人。 ,宝蓝色Sapphire Blue ,宝蓝色又称宝石蓝色，因为颜色很像纯净璀璨的蓝宝石而得名。这样靓丽的颜色更适合皮肤白皙的人，会衬得人气色更好、更精神。</p>
                            <!--文章底部-->
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui horizontal mini link list">
                                        <div class="item ">
                                            <img src="../static/images/profilePic.png" alt="" class="ui avatar image ">
                                            <a href="#" class="ui teal">NextGeneration</a>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>2020-1-1
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>浏览次数
                                        </div>
                                    </div>
                                </div>
                                <div class="right five wide column">
                                    <a href="#" class="ui  me-padded-mini me-text-thin me-text-opacity-mini teal label">认知升级</a>
                                </div>
                            </div>
                        </div>
                        <!--图片列-->
                        <div class="five wide column">
                            <img src="https://unsplash.it/800/400?image=155" alt="" class="ui rounded image"  >
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!--content-->
            <div class="ui attached segment  me-padded-tb-large ">
                <div class="ui container">
                    <div class="ui basic segment ">
                        <div class="ui stackable mobile reversed grid">
                            <!--文章列-->
                            <div class="eleven wide column">
                                <h3 class="ui header center aligned">来吧难我,来</h3>
                                <p class="me-text-mini me-text-spaced-mini me-text-opacity-mini me-text-thin">藏青色Navy Blue ,藏青色因用于海军(navy)制服而得名，是一种非常深的蓝色，显瘦，适合气质沉稳、低调的人。 ,宝蓝色Sapphire Blue ,宝蓝色又称宝石蓝色，因为颜色很像纯净璀璨的蓝宝石而得名。这样靓丽的颜色更适合皮肤白皙的人，会衬得人气色更好、更精神。</p>
                                <!--文章底部-->
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal mini link list">
                                            <div class="item ">
                                                <img src="../static/images/profilePic.png" alt="" class="ui avatar image ">
                                                <a href="#" class="ui teal">NextGeneration</a>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2020-1-1
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>浏览次数
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right five wide column">
                                        <a href="#" class="ui  me-padded-mini me-text-thin me-text-opacity-mini teal label">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--图片列-->
                            <div class="five wide column">
                                <img src="https://unsplash.it/800/400?image=155" alt="" class="ui rounded image"  >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--content-->
            <div class="ui attached segment  me-padded-tb-large ">
                <div class="ui container">
                    <div class="ui basic segment ">
                        <div class="ui stackable mobile reversed grid">
                            <!--文章列-->
                            <div class="eleven wide column">
                                <h3 class="ui header center aligned">来吧难我,来</h3>
                                <p class="me-text-mini me-text-spaced-mini me-text-opacity-mini me-text-thin">藏青色Navy Blue ,藏青色因用于海军(navy)制服而得名，是一种非常深的蓝色，显瘦，适合气质沉稳、低调的人。 ,宝蓝色Sapphire Blue ,宝蓝色又称宝石蓝色，因为颜色很像纯净璀璨的蓝宝石而得名。这样靓丽的颜色更适合皮肤白皙的人，会衬得人气色更好、更精神。</p>
                                <!--文章底部-->
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal mini link list">
                                            <div class="item ">
                                                <img src="../static/images/profilePic.png" alt="" class="ui avatar image ">
                                                <a href="#" class="ui teal">NextGeneration</a>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2020-1-1
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>浏览次数
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right five wide column">
                                        <a href="#" class="ui  me-padded-mini me-text-thin me-text-opacity-mini teal label">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--图片列-->
                            <div class="five wide column">
                                <img src="https://unsplash.it/800/400?image=155" alt="" class="ui rounded image"  >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--content-->
            <div class="ui attached segment  me-padded-tb-large ">
                <div class="ui container">
                    <div class="ui basic segment ">
                        <div class="ui stackable mobile reversed grid">
                            <!--文章列-->
                            <div class="eleven wide column">
                                <h3 class="ui header center aligned">来吧难我,来</h3>
                                <p class="me-text-mini me-text-spaced-mini me-text-opacity-mini me-text-thin">藏青色Navy Blue ,藏青色因用于海军(navy)制服而得名，是一种非常深的蓝色，显瘦，适合气质沉稳、低调的人。 ,宝蓝色Sapphire Blue ,宝蓝色又称宝石蓝色，因为颜色很像纯净璀璨的蓝宝石而得名。这样靓丽的颜色更适合皮肤白皙的人，会衬得人气色更好、更精神。</p>
                                <!--文章底部-->
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal mini link list">
                                            <div class="item ">
                                                <img src="../static/images/profilePic.png" alt="" class="ui avatar image ">
                                                <a href="#" class="ui teal">NextGeneration</a>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>2020-1-1
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>浏览次数
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right five wide column">
                                        <a href="#" class="ui  me-padded-mini me-text-thin me-text-opacity-mini teal label">认知升级</a>
                                    </div>
                                </div>
                            </div>
                            <!--图片列-->
                            <div class="five wide column">
                                <img src="https://unsplash.it/800/400?image=155" alt="" class="ui rounded image"  >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui bottom attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <a href="#" class="ui mini teal basic button">上一页</a>
                    </div>
                    <div class="right aligned column">
                        <a href="#" class="ui mini teal basic button">下一页</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--尾部-->
<div th:replace="~{commons/commons::bottomSeg}"></div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>


<script>
    $('.menu.button').click(function () {
        $('.menu-i').toggleClass('me-mobile-hide');
    });
</script>
</body>
</html>