<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="topSeg" class="ui inverted attached segment me-padded-tb-mini  ">
    <div class="ui container">
        <div class="ui inverted secondary menu stackable">
            <h2 class="ui teal header item">NextGeneration</h2>
            <a herf="#" class="menu-i item me-mobile-hide"><i class="home icon"></i>首页</a>
            <a herf="#" class="menu-i item me-mobile-hide"><i class="idea icon"></i>分类</a>
            <a herf="#" class="menu-i item me-mobile-hide"><i class="tags icon"></i>标签</a>
            <a herf="#" class="menu-i item me-mobile-hide"><i class="clone icon"></i>归档</a>
            <a herf="#" class="menu-i item me-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="right item">
                <div class="ui input icon transparent inverted">
                    <input type="text" placeholder="Search....">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
        <a href="#" class="ui black button icon  me-top-right me-mobile-show menu button"><i class="sidebar icon "></i></a>
    </div>
</nav>
<footer th:fragment="bottomSeg" class="ui inverted vertical segment aligned me-padded-tb-massive">
    <div class="ui center aligned container">
        <!--分四个板块/3/3/3/7份-->
        <div class="ui inverted divided grid stackable ">

            <div class="two wide column">
                <div class="ui card item centered" style="width: 110px">
                    <img th:src="@{/images/weChat.png}" class="ui rounded image" style="width: 110px">
                </div>
            </div>

            <div class="four wide column inverted header me-text-thin me-text-spaced-mini me-text-opacity-mini">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a   href="#" class="item">用户故事</a>
                    <a   href="#" class="item">用户故事</a>
                    <a   href="#" class="item">用户故事</a>
                </div>
            </div>

            <div class="four wide column inverted header me-text-thin me-text-spaced-mini me-text-opacity-mini">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <a   href="#" class="item">邮箱：ingram_13@foxmail.com</a>
                    <a   href="#" class="item">QQ:1064630546</a>
                </div>
            </div>

            <div class="six wide column ">
                <h4 class="ui inverted header">NextGeneration</h4>
                <p class="ui inverted me-text-thin me-text-spaced-mini me-text-opacity-mini me-text-line-mini">这是我的个人博客NextGeneration，会用来分享我的学习经验，感受，编程等相关知识，有兴趣的朋友可以常来看看哟~</p>
            </div>
        </div>
        <!--分割线-->
        <div class="ui inverted section divider"></div>
        <p class="inverted header me-text-thin me-text-spaced-mini me-text-opacity-mini  ">Copyright © 2020 Hynu-NextGeneration</p>
    </div>

</footer>
</body>
</html>