<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{commons/commons::head}">
    <title>博客</title>
</head>

<!--导航-->
<div th:replace="~{commons/commons::topSeg(0)}"></div>
<!--侧边栏-->
<div th:replace="~{commons/commons::sideSeg}"></div>
<!--Main-->

<div  class="me-padded-tb-large me-container-small">
    <div class="ui container">
        <!--头部-->
        <div class="ui secondary segment top attached">
            <div class="ui horizontal mini link list">
                <div class="item ">
                    <img th:src="@{/images/logo.jpg} " alt="" class="ui avatar image ">
                    <a href="#" class="ui teal">NextGeneration</a>
                </div>
                <div class="item">
                    <i class="calendar icon"></i>[[${#dates.format(blog.createTime,'yyyy-MM-dd')}]]
                </div>
                <div class="item">
                    <i class="eye icon"></i>[[${blog.viewCounts}]]
                </div>
            </div>
        </div>
        <!--图片-->
        <div class="ui segment attached">
            <img th:src="${blog.firstPic}" class="ui fluid image">
        </div>
        <!--内容main-->
        <div class="js-toc-content ui segment attached">
            <div class="ui right aligned segment basic"><a class="ui violet label basic large">[[${blog.flag}]]</a></div>
            <div class="ui header teal centered  me-padded-b-big" id="h2">[[${blog.title}]]</div>
            <!--content-->
            <div id="content"  class=" typo js-toc-content me-padded-lf-huge me-padded-b-massive" th:utext="${blog.content}">

            </div>
            <!--文章底部-->
            <div class="ui item left aligned segment basic inline"><a th:href="@{/tag/1/5/} + ${tag.id}" th:each="tag : ${blog.tags}" class="me-margin-lf ui black label left pointing">[[${tag.name}]]</a></div>
            <div class="ui left aligned item  segment basic inline"><a th:href="@{/type/1/5/} + ${blog.type.id}" class="ui teal label left pointing">[[${blog.type.name}]]</a></div>
            <div class="ui center aligned segment basic pay-button"><i class="ui red heart icon"></i><button class="ui orange label basic large circular">赞赏</button><i class="ui red heart icon"></i></div>
            <div class="ui flowing popup top center transition hidden pay-container">
                    <div class="ui orange basic label">
                        <div class="ui images "style="font-size: inherit !important;">
                            <div class="ui image">
                                <img class="ui image centered" th:src="@{/images/wechat-pay.jpg}" style="width: 130px" alt=""><div class="" style="color: green">WeChat pay</div>
                            </div>
                            <div class="ui image">
                                <img class="ui image centered" th:src="@{/images/ali-pay.jpg}" style="width: 130px" alt=""><div class="" style="color: blue">Ali pay</div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
        <!--信息-->
        <div class="ui segment teal message attached">
            <div class="ui grid">
                <div class="ten wide column">
                    <div class="ui link list">
                        <a th:href="@{/aboutMe}" class="ui teal item me-padded-tb-tiny">作者：NG</a>
                        <div  class="ui teal item me-padded-tb-tiny">发表时间：[[${#dates.format(blog.createTime,'yyyy-MM-dd')}]]</div>
                        <div  class="ui teal item me-padded-tb-tiny">版权声明：[[${blog.flag}]]</div>
                        <div  class="ui teal item me-padded-tb-tiny">转载：[[${blog.status} ? '是' : '否']]</div>
                    </div>
                </div>
                    <div class="right aligned six wide column">
                        <img th:if="${blog.appreciateSwitch}" th:src="@{/images/weChat.jpg}" alt="" style="width: 110px" class="ui rounded image right floated">
                    </div>
            </div>
        </div>
        <!--留言区-->
        <div class="ui bottom attached segment me-padded-tb-massive" >
            <!--留言列表-->
            <div  class="ui segment teal" id="comment-container">
                <div id="commentList">
                    <div th:fragment="commentList">
                        <h3 class="ui dividing header">留言</h3>
                        <div class="ui comments" th:each="comment : ${comments}">
                            <div class="comment">
                                <a class="avatar">
                                    <img th:if="!${comment.admin}" th:src="@{/images/logo-custom.jpg}" class="ui avatar image">
                                    <img th:if="${comment.admin}" th:src="@{/images/logo.jpg}" class="ui avatar image">
                                </a>
                                <div class="content" >
                                    <a th:classappend="${comment.admin} ? 'me-text-red author' : 'author'" th:id="${comment.nickName}">[[${comment.nickName}]]</a>
                                    <div class="ui mini basic red left pointing label me-padded-mini" th:if="${comment.admin}">博主</div>
                                    <div class="metadata">
                                        <span class="date">[[${#dates.format(comment.createDate,'yyyy-MM-dd')}]]</span>
                                    </div>
                                    <div class="text">
                                        [[${comment.content}]]
                                    </div>
                                    <div class="actions">
                                        <a class="reply" th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickName}" onclick="reply(this)">回复</a>
                                        <a th:if="${session.userInfo} != null" th:href="@{/delComment/}+${comment.id}">删除</a>
                                    </div>
                                </div>
                                <div class="comments" th:if="${#arrays.length(comment.sonComment)>0}">
                                    <div class="comment" th:each="son : ${comment.sonComment}">
                                        <a class="avatar">
                                            <img th:if="!${son.admin}" th:src="@{/images/logo-custom.jpg}" class="ui avatar image">
                                            <img th:if="${son.admin}" th:src="@{/images/logo.jpg}" class="ui avatar image">
                                        </a>
                                        <div class="content">
                                            <a  th:classappend="${son.admin} ? 'me-text-red author' : 'author'">[[${son.nickName}]]</a>
                                            <div class="ui mini basic red left pointing label me-padded-mini" th:if="${son.admin}">博主</div>
                                            <div class="metadata">
                                                <span class="date">[[${#dates.format(son.createDate,'yyyy-MM-dd')}]]</span>
                                            </div>
                                            <div class="text">
                                                <a th:href="'#'+${son.rObject}" th:unless="${#strings.isEmpty(son.rObject)}" th:text="' @'+${son.rObject}+' : '"></a>[[${son.content}]]
                                            </div>
                                            <div class="actions">
                                                <a class="reply" th:attr="data-commentid=${comment.id},data-commentnickname=${son.nickName},data-reply=${son.nickName}" onclick="reply(this)">回复</a>
                                                <a class="reply" th:if="${session.userInfo} != null" th:href="@{/delComment/}+${son.id}">删除</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <!--回复信息框-->
             <div class="ui reply form" id="comment-form">
                        <input type="hidden" name="blog.id" th:value="${blog.id}">
                        <input type="hidden" name="parentComment.id">
                        <input type="hidden" name="rObject">
                        <div class="required field">
                            <textarea name="content" placeholder="请输入评论信息..." ></textarea>
                        </div>
                        <div class="fields">
                            <div class="required field">
                                <div class="ui user icon input">
                                    <i class="ui user icon"></i>
                                    <input  type="text" name="nickName" placeholder="用户名">
                                </div>
                            </div>
                            <div class="required  field">
                                <div class="ui email icon input">
                                    <i class="ui mail icon"></i>
                                    <input type="mail" name="email" placeholder="邮箱">
                                </div>
                            </div>
                        </div>

                        <button id="comment-btn" type="button" class="ui blue button">
                            <i class="icon edit"></i> 评论
                        </button>
                    </div>

        </div>
    </div>
</div>

<!--底部工具栏-->
<div class="ui TOC-container flowing popup top center transition hidden" style="width: 280px">
    生成目录
    <ol class="js-toc"></ol>
</div>
<div class="ui flowing popup top center transition hidden wx-pop" id="qrcode" style="width: 130px">
    <!--自动生成的二维码-->
</div>


<div class=" me-fixed me-right-bottom me-padded animated bounceInDown me-z-index-max">
    <div class="ui inverted vertical icon buttons">
        <button class="ui teal button TOC-button" type="button">目录</button>
        <a href="#comment-container" class="ui teal button">留言</a>
        <button class="ui icon green button wx-btn"><i class="ui weixin icon"></i></button>
        <div id="toTop-btn" class="ui teal button"><i class="up chevron icon"></i></div>
    </div>
</div>

<!--尾部-->
<div th:replace="~{commons/commons::bottomSeg}"></div>

<!--script-->
<div th:replace="~{commons/commons::script}"></div>
<script  th:inline="javascript">
    $('.pay-button').popup({
        popup : ($('.pay-container')),
        position: 'bottom center'
    });
    /*滑动插件*/
    $('#toTop-btn').click(function () {
        $(window).scrollTo(0,500);
    })
    var serurl = /*[[#{blog.serurl}]]*/"127.0.0.1:8080";
    var url = /*[[@{/blog/{id}(id=${blog.id})}]]*/"";
    var qrcode = new QRCode("qrcode", {
        text: serurl+url,
        width: 110,
        height: 110,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });

    tocbot.init({
        // 目录生成区域
        tocSelector: '.js-toc',
        // 目录生成源
        contentSelector: '.js-toc-content',
        // 级别
        headingSelector: 'h1, h2, h3, h5',
        // For headings inside relative or absolute positioned containers within content.
    });

    $('.TOC-button').popup({
        popup : ($('.TOC-container')),
        on: 'click',
        position: 'left center'
    });

    $('.wx-btn').popup({
        popup : ($('.wx-pop')),
        position: 'left center'
    });

    /*表单验证*/
    $('.ui.reply.form').form({
        fields:{
            content: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '标题：评论内容不能为空',
                }]
            },
            nickName: {
                identifier: 'nickName',
                rules: [{
                    type: 'empty',
                    prompt: '不能为空',
                }]
            },
            email: {
                identifier: 'email',
                rules: [{
                    type: 'empty',
                    prompt: '不能为空',
                }]
            }
        },
    })

    /*表单异步提交*/
    $('#comment-btn').click(function () {
        postData();
    });


    /*异步加载留言区*/
    $("#comment-container").load(/*[[@{/comment/}+${blog.id}]]*/);

    function postData() {
        $("#comment-container").load(/*[[@{/postComment}]*/"/postComment",
            {
                "parentComment.id" : $("[name='parentComment.id']").val(),
                "blog.id" : $("[name='blog.id']").val(),
                "nickName": $("[name='nickName']").val(),
                "email"   : $("[name='email']").val(),
                "content" : $("[name='content']").val(),
                "rObject" : $("[name='rObject']").val()
            } ,
            function (responseTxt, statusTxt, xhr) {
            clearContent();
        }
        );

    }

    function clearContent() {
        $("[name='content']").val('');
        $("[name='parentComment.id']").val(null);
        $("[name='rObject']").val(null);
        $("[name='content']").attr("placeholder", "请输入评论信息...");
    }

    function reply(obj) {
        var commentId = $(obj).data('commentid');
        var commentNickname = $(obj).data('commentnickname');
        var robject = $(obj).data('reply');
        $("[name='content']").attr("placeholder", "@"+commentNickname).focus();
        $("[name='parentComment.id']").val(commentId);
        $("[name='rObject']").val(robject);
        $(window).scrollTo($('#comment-form'),500);
    }


    function del(obj) {
        var commentId = $(obj).data('commentid');
        $("#comment-container").load(/*[[@{/delComment}]*/"/delComment",
            {
                "blog.id" : $("[name='blog.id']").val(commentId)
            })

    }
</script>
</body>
</html>