<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/commons::head}">
    <title>归档</title>
</head>
<body>
<!--导航-->
<div th:replace="~{commons/commons::topSeg(4)}"></div>
<!--侧边栏-->
<div th:replace="~{commons/commons::sideSeg}"></div>
<!--Main-->
<div  class="me-padded-tb-large  me-container-small">
    <div class="ui container">
        <div class="ui teal  segment">
            <div class="ui two column grid stackable">
                <div class="column">
                    <div class="ui item header teal">归档</div>
                </div>
                <div class="column right aligned">
                    <div class="ui item header ">共 <h3 class="ui item orange header  me-display-inline">[[${size}]]</h3>篇</div>
                </div>
            </div>
        </div>
    <th:block th:each="file : ${file}">
        <div class="ui horizontal divider me-margin-t-massive"><h3 class="header ui">[[${file.value}]]</h3></div>
        <div class="ui vertical menu fluid">
            <a th:href="@{/blog/} + ${blog.id}" th:each="blog : ${file.key}" class="item header">
                <span>[[${blog.title}]]<div class="ui basic teal mini label left pointing">[[${#dates.format(blog.createTime,'MM')}+'月'+${#dates.format(blog.createTime,'dd')}+'号']]</div></span><div class="label basic orange ui">[[${blog.flag}]]</div>
            </a>
        </div>
    </th:block>


</div>
</div>


<!--尾部-->
<div th:replace="~{commons/commons::bottomSeg}"></div>
<!--script-->
<div th:replace="~{commons/commons::script}"></div>
</body>
</html>