<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body >
<!--导航-->
<div th:replace="~{commons/commons::adminTopSeg}"></div>
<div class="ui menu attached pointing">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="item">发布</a>
            <a href="#" class="item active teal">列表一览</a>
        </div>
    </div>
</div>
<!--main-->
<div class="me-container-small me-margin-tb">
    <div class="ui container">
        <!--表单-->
        <form action="#" method="post" class="ui segment form">
            <div class="inline fields">
                <div class="field">
                    <input type="text" class="ui teal basic" name="title" placeholder="标题">
                </div>
                <div class="field">
                    <div class="ui selection dropdown">
                        <input name="type" type="hidden"><i class="dropdown icon"></i><div class="default text">分类</div>
                        <div class="menu">
                            <div class="item" data-th-value="${1}">错误日志</div>
                            <div class="item" data-th-value="${1}">错误日志</div>
                            <div class="item" data-th-value="${1}">错误日志</div>
                            <div class="item" data-th-value="${1}">错误日志</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend"><label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button class="ui mini teal basic circular icon button" type="submit"><i class="search icon"></i></button>
                </div>
            </div>
        </form>
        <!--表格-->
        <table class="ui celled table center aligned">
            <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>springboot项目实战</td>
                <td>项目实战</td>
                <td>是</td>
                <td>20xx-xx-xx xx:xx</td>
                <td>
                    <a href="#" class="ui mini basic green button">编辑</a>
                    <a href="#" class="ui mini basic red button">删除</a>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>springboot项目实战</td>
                <td>项目实战</td>
                <td>是</td>
                <td>20xx-xx-xx xx:xx</td>
                <td>
                    <a href="#" class="ui mini basic green button">编辑</a>
                    <a href="#" class="ui mini basic red button">删除</a>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>springboot项目实战</td>
                <td>项目实战</td>
                <td>是</td>
                <td>20xx-xx-xx xx:xx</td>
                <td>
                    <a href="#" class="ui mini basic green button">编辑</a>
                    <a href="#" class="ui mini basic red button">删除</a>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>springboot项目实战</td>
                <td>项目实战</td>
                <td>是</td>
                <td>20xx-xx-xx xx:xx</td>
                <td>
                    <a href="#" class="ui mini basic green button">编辑</a>
                    <a href="#" class="ui mini basic red button">删除</a>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>springboot项目实战</td>
                <td>项目实战</td>
                <td>是</td>
                <td>20xx-xx-xx xx:xx</td>
                <td>
                    <a href="#" class="ui mini basic green button">编辑</a>
                    <a href="#" class="ui mini basic red button">删除</a>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>springboot项目实战</td>
                <td>项目实战</td>
                <td>是</td>
                <td>20xx-xx-xx xx:xx</td>
                <td>
                    <a href="#" class="ui mini basic green button">编辑</a>
                    <a href="#" class="ui mini basic red button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                <div class="ui right floated pagination menu">
                    <a class="icon item">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="icon item">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
                <button class="ui basic blue button left floated "><i class="book icon"></i>新增</button>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>





<!--尾部-->
<div th:replace="~{commons/commons::bottomSeg}"></div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script>
    $('.menu.button').click(function () {
        $('.menu-i').toggleClass('me-mobile-hide');
    });

    $('.ui.dropdown')
        .dropdown({on:'hover'})
    ;
</script>
</body>
</html>